.form-container {
  display: flex;
  justify-content: center;
  align-self: center;
}

.form-container form {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background: rgb(63, 61, 86, 0.5);
  padding: 5em;
  width: 30%;
  color: white;
  border-radius: 0.5em;
}

.form-container form input {
  width: 100%;
  margin-top: 0.5em;
  border-radius: 10px;
  padding: 1.5em;
  box-sizing: border-box;
  border: none;
}

.form-container button {
  width: 100%;
  padding: 1em;
  background-color: #3ad29f;
  margin-top: 2.5em;
  border-radius: 10px;
  font-size: 18px;
  color: white;
  border: none;
  box-shadow: 0.1em 0.1em black;
  cursor: pointer;
}
