.vide-component > div {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.ytVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal-yt-body {
  height: 40vh;
}
