.display-left .button {
  background-color: #9c69e2;
  font-size: 1.5em;
  color: #e5e5e5;
  margin-top: 20px;
}

.display {
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  color: #e5e5e5;
}
.display-left h1 {
  margin-bottom: 30px;
  font-size: 3em;
  font-weight: bold;
}
