/* .video-list {
  display: flex;
  gap: 1.25em;
}

.video-list img {
  width: 350px;
  height: 200px;
  border-radius: 10px;
} */
.featured-content {
  width: 40%;
}
.featured {
  display: flex;
  width: 100%;
  padding: 3em;
  height: 60vh;
  border-radius: 10px;
  color: antiquewhite;
  text-align: left;
  align-items: center;
  background-size: cover !important;
}

.featured h2 {
  font-size: 54px;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.featured p {
  font-size: 22px;
  margin-bottom: 1.5em;
}

.featured-content > .button {
  background-color: #3ad29f;
  border: none;
}

.loader {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
