@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
  background-color: #141414;
}

button:hover {
  opacity: 0.5;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style-type: none;
}
